.App {
  max-width: 860px;
  margin: 40px auto;
  text-align: center;
}

button {
  background: none;
  border: 2px solid #6c0345;
  padding: 6px 12px;
  border-radius: 6px;
  color: #6c0345;
  font-weight: bold;
  font-size: 1.2rem;
}

button:hover {
  background: #c65bcf;
  color: #322c2b;
}
