.App {
  max-width: 860px;
  margin: 10px auto 0px;
  text-align: center;
  /* height: 100vh; */
}
.name-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  margin: 3rem;
}
.App h1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
}
button {
  background: none;
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

button:hover {
  background: white;
  color: black;
}

.card-grid {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
