@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* basic style  */
body {
  margin: 0;
  font-family: Josefin Sans;
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
  background: #8b93ff;
  color: #00215e;
}
